<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="i220791"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.I220791"
        android:supportsRtl="true"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--         Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".DMListActivity"
            android:exported="true" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true" />

<!--        <activity-->
<!--            android:name=".HomeActivity"-->
<!--            android:exported="true" />-->


        <!--         Register Activity -->
        <activity
            android:name=".NewPostActivity"
            android:exported="true" />

        <activity
            android:name=".PostGalleryActivity"
            android:exported="true" />

        <activity
            android:name=".SearchActivity"
            android:exported="true" />
<!--         Register Activity -->
        <activity
            android:name=".PostCameraActivity"
            android:exported="true" />

        <activity
            android:name=".ContactsActivity"
            android:exported="true" />

        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />

        <activity
            android:name=".FollowerActivity"
            android:exported="true" />

        <activity
            android:name=".FollowingActivity"
            android:exported="true" />

        <activity
            android:name=".VideoCallActivity"
            android:exported="true" />

        <activity
            android:name=".ChatActivity"
            android:exported="true" />

        <activity
            android:name=".CallActivity"
            android:exported="true" />


    </application>

</manifest>
